.main__container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    } 
}

.main__img {
    margin-top: 1rem;
    width: 100%;

    @media screen and (min-width: 992px) {
        width: 60%;
        margin-top: 4rem;
    }
}

.main__info {
    color: $white;

    @media screen and (min-width: 992px) {
        width: 40%;
        padding: 3rem;
    }
}

.main__title {
    font-family: $title-font;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 3.5rem;

    @media screen and (min-width: 992px) {
        font-size: 2.5rem;
        text-align: left;
    }
}


.main__text {
    font-family: $text-font;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    

    @media screen and (min-width: 992px) {
        font-size: 1rem;
        text-align: left;
    }
}

.main__button {
    display: block;
    margin-top: 1.5rem;
    margin-right: auto;   
    margin-left: auto;
    width: 60%;
    padding: .8rem .7rem;
    font-family: $title-font;
    font-size: 1rem;
    background-color: $white;
    color: $violet;
    border-style: none;
    border-radius: 30px;

    @media screen and (min-width: 992px) {
        margin-left: 0;
        width: 40%;

        &:hover {
            background-color: $violet;
            color: $white;
            border: 1px solid gray;
        }
    }
}