//Headings
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$main-title: 'Poppins';
$big-title: 700;
$regular-title: 400;

//Body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$main-font: 'Open Sans';
$regular-font: 400;

